.venv/
target/
data/
__pycache__/
*.ipynb_checkpoints/
# Ambientes e caches
.venv/
core/.venv/
**/__pycache__/
.ipynb_checkpoints/
notebooks/omni_data/
target/
frontend/node_modules/
frontend/dist/
backend/omni_data/
backend/__pycache__/
